In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:
dfs = {
    'perfil_eleitorado': None
}

def make_df():
    '''Pega uma lista de arquivos e retorna um único dataframe gerado.'''
    # Lista de dataframes
    dfs = [pd.read_csv('perfil_eleitorado/perfil_eleitorado_{}.txt'.format(ano), sep=';',encoding='latin-1') for ano in range(2002, 2017, 2)]
    # Concatena todos os dataframes em um só
    return pd.concat(dfs, ignore_index=True, sort=False)
    #return pd.concat([dfs, pd.read_csv('perfil_eleitorado/perfil_eleitorado_2018.csv',sep=';',encoding='latin-1')])

# Junta todos os dados de perfil eleitorado em um unico dataframe
dfs['perfil_eleitorado'] = make_df()

In [12]:
dfs['perfil_eleitorado'].describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>2002</th>
      <th>1120</th>
      <th>8</th>
      <th>5</th>
      <th>2004</th>
      <th>25</th>
      <th>2006</th>
      <th>1</th>
      <th>2008</th>
      <th>11</th>
      <th>2010</th>
      <th>2</th>
      <th>2012</th>
      <th>201407</th>
      <th>2016</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>840451.0</td>
      <td>6.917564e+06</td>
      <td>6.917564e+06</td>
      <td>1.714216e+06</td>
      <td>861620.0</td>
      <td>861620.000000</td>
      <td>854454.0</td>
      <td>2.598046e+06</td>
      <td>871743.0</td>
      <td>871743.000000</td>
      <td>871939.0</td>
      <td>871939.000000</td>
      <td>882979.0</td>
      <td>860613.0</td>
      <td>873765.0</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>2002.0</td>
      <td>5.110241e+04</td>
      <td>9.504366e+01</td>
      <td>1.526791e+02</td>
      <td>2004.0</td>
      <td>140.887637</td>
      <td>2006.0</td>
      <td>1.575730e+02</td>
      <td>2008.0</td>
      <td>149.819865</td>
      <td>2010.0</td>
      <td>155.749922</td>
      <td>2012.0</td>
      <td>201407.0</td>
      <td>2016.0</td>
    </tr>
    <tr>
      <th>std</th>
      <td>0.0</td>
      <td>2.866236e+04</td>
      <td>8.633407e+01</td>
      <td>4.458315e+02</td>
      <td>0.0</td>
      <td>432.441227</td>
      <td>0.0</td>
      <td>4.494127e+02</td>
      <td>0.0</td>
      <td>433.248510</td>
      <td>0.0</td>
      <td>444.582251</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>min</th>
      <td>2002.0</td>
      <td>1.900000e+01</td>
      <td>1.000000e+00</td>
      <td>1.000000e+00</td>
      <td>2004.0</td>
      <td>1.000000</td>
      <td>2006.0</td>
      <td>1.000000e+00</td>
      <td>2008.0</td>
      <td>1.000000</td>
      <td>2010.0</td>
      <td>1.000000</td>
      <td>2012.0</td>
      <td>201407.0</td>
      <td>2016.0</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>2002.0</td>
      <td>2.521600e+04</td>
      <td>3.000000e+01</td>
      <td>4.000000e+00</td>
      <td>2004.0</td>
      <td>4.000000</td>
      <td>2006.0</td>
      <td>5.000000e+00</td>
      <td>2008.0</td>
      <td>4.000000</td>
      <td>2010.0</td>
      <td>4.000000</td>
      <td>2012.0</td>
      <td>201407.0</td>
      <td>2016.0</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>2002.0</td>
      <td>5.251500e+04</td>
      <td>6.800000e+01</td>
      <td>2.400000e+01</td>
      <td>2004.0</td>
      <td>20.000000</td>
      <td>2006.0</td>
      <td>2.400000e+01</td>
      <td>2008.0</td>
      <td>23.000000</td>
      <td>2010.0</td>
      <td>23.000000</td>
      <td>2012.0</td>
      <td>201407.0</td>
      <td>2016.0</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>2002.0</td>
      <td>7.595700e+04</td>
      <td>1.370000e+02</td>
      <td>1.070000e+02</td>
      <td>2004.0</td>
      <td>95.000000</td>
      <td>2006.0</td>
      <td>1.110000e+02</td>
      <td>2008.0</td>
      <td>103.000000</td>
      <td>2010.0</td>
      <td>109.000000</td>
      <td>2012.0</td>
      <td>201407.0</td>
      <td>2016.0</td>
    </tr>
    <tr>
      <th>max</th>
      <td>2002.0</td>
      <td>9.907400e+04</td>
      <td>4.260000e+02</td>
      <td>2.113400e+04</td>
      <td>2004.0</td>
      <td>22332.000000</td>
      <td>2006.0</td>
      <td>1.386100e+04</td>
      <td>2008.0</td>
      <td>13851.000000</td>
      <td>2010.0</td>
      <td>14064.000000</td>
      <td>2012.0</td>
      <td>201407.0</td>
      <td>2016.0</td>
    </tr>
  </tbody>
</table>
</div>